@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+LA:wght@100..400&display=swap');

@font-face {
    font-family: 'fonte-menu';
    src: url(../fonts/Coffee\ Menus_personal\ use.ttf);
}


:root{

    --cor01: #767DCF;
    --cor02: #797DA5;
    --cor03: #6571FA;
    --cor04: #6e6f7a44;
    --cor05: #6E6F7A;
    --cor06: #0814a0;
    --cor07: #b2b3c9;

    --fonte-01: "Delius", 'cursive';
    --fonte-02: "Playwrite DE LA", 'cursive';
    --fonte-03: 'fonte-menu','cursive';
}

*{
    margin: 0px;
    border: 0px;
}


html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor04);  /* A cor de fundo que você quer */
    min-height: 100%;  /* Garantir que o fundo ocupe toda a altura da tela */
}

.essa{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

nav{
    position: fixed;
    top: 0%;
    width: 99%;
    background: var(--cor07);
    color: white;
    padding: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow:  5px 5px 20px 7px rgba(0, 0, 0, 0.418);
}

nav a{
    color: var(--cor06);
    font-weight:bolder;
    font-size: 35px;
    text-decoration: none;
    padding: 10px;
    font-family:var(--fonte-03);
    transition-duration: 0.1s;
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.548);

}

nav a:hover{
    color: white;
    background-color:var(--cor05);
    border-radius: 10px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    border: 0px;
    background-color: white;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow:  5px 5px 20px 7px rgba(0, 0, 0, 0.418);
    margin-top: 85px;
    flex: 1;
    padding-bottom: 15px;
}

main h1{

    font-family: var(--fonte-01);
    color: var(--cor06);
    background-color: var(--cor04);
    border-radius: 15px 15px 0px 0px;
    text-indent: 25px;
}

main h2{
    font-family: var(--fonte-01);
    color: var(--cor06);
    font-weight: bold;
    font-size: 23px;
    text-indent: 25px;
}

main h3{
    font-family: var(--fonte-01);
    color: var(--cor06);
    font-weight: bold;
    font-size: 20px;
    text-indent: 25px;
}

main p{
    font-size: 20px;
    line-height: 1.4em;
    text-indent: 15px;
    text-align: justify;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
   
}

main pre{
    margin-left: 0px;
}

picture img{
    display: block;
    width: 80%;
    margin: auto;
}



footer{
    margin-top: 5px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}